black==21.11b1
click==8.0.3
colorama==0.4.4
isort==5.10.1
mypy-extensions==0.4.3
numpy==1.21.4
opencv-python==4.5.4.60
pathspec==0.9.0
platformdirs==2.4.0
pynput==1.7.5
regex==2021.11.10
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.0
